anndata==0.8.0
click==8.0.4
gseapy==1.0.1
joblib==1.2.0
matplotlib==3.5.2
networkx==2.8.4
numpy==1.23.2
pandas==1.4.4
reactome2py==3.0.0
scanpy==1.9.3
scikit_learn==1.2.2
scipy==1.9.1
seaborn==0.11.2
statsmodels==0.13.5
adjustText==0.7.3
